<!DOCTYPE html>
{% apply inline_css(source("style.css")) %}
    <html>
        <head>
            <meta charset="UTF-8">
            <title>
                {% block title %} Welcome to this service! {% endblock %}
            </title>
        </head>
        <body>
            {% block body %}{% endblock %}
        </body>
    </html>
{% endapply %}